$Blue-green: #2596be;
$Federal-blue: #1e095a;
$Royal-purple: #8147a8;
$Old-rose: #b46f77;
$Eerie-black: #222222;
$Pure-white: #ffffff;

$Shadow: 0px 5px 10px -5px black;

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    position: relative;
    min-height: 100%;
    width: 100%;
    .headerSection {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        width: 100%;
        align-items: center;
        a {
            width: 80px;
            background-color: #8147a8;
            padding: 5px 20px;
            border: none;
            border-radius: 10px;
            color: white;
            box-shadow: 0px 5px 10px -5px black;
            font-size: 16px;
            text-decoration: none;
            margin: 15px;
        }
        #logo {
            display: flex;
            justify-self: center;
            width: 250px;
        }
    }

    #topBtns {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 750px;
        flex-wrap: wrap;

        .meetupTitles {
            margin-bottom: 2vh;
            background-color: $Royal-purple;
            border: none;
            border-radius: 10px;
            color: white;
            box-shadow: $Shadow;
            font-size: 16px;
            text-decoration: none;
            padding: 10px;
        }
    }

    @media screen and (max-width: 750px) {
        #topBtns {
            width: 97%;
        }
    }

    @media screen and (min-width: 750px) {
        #topBtns {
            width: 750px;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1vh;
        padding: 0;

        @media screen and (min-width: 750px) {
            li {
                width: 750px;
            }
        }

        @media screen and (max-width: 750px) {
            li {
                width: 97%;
            }
        }

        li {
            list-style: none;
            padding: 15px 30px;
            background-color: #2d166b;
            color: white;
            border: none;
            border-radius: 15px;
            box-shadow: $Shadow;

            .title {
                font-size: 22px;
                font-weight: bold;
            }
            .description,
            .location,
            .pinId,
            .time {
                font-size: 14px;
            }
            .time {
                font-style: italic;
            }
            article {
                display: flex;
                gap: 1vw;
                form {
                    input[type="submit"] {
                        width: 80px;
                        background-color: #8147a8;
                        padding: 5px 10px;
                        border: none;
                        border-radius: 10px;
                        color: white;
                        font-size: 16px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
