// Scss code for account styling for both login and signup//

$Blue-green: #2596be;
$Federal-blue: #1E095A;
$Royal-purple: #8147A8;
$Old-rose: #B46F77;
$Eerie-black: #222222;
$Pure-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    background-color: #6832AA 
}
.container {
    text-align: center;
}

.signup_button{
    background-color: #1E095A;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 30%;
}
.login_button{
    background-color: #8C43AC;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 30%;
    cursor:pointer;
    transition: opacity 0.3s, transform 0.3s;
}
.login_button:hover {
    opacity: 0.8; 
    transform: scale(1.05); 
}
.btn{
    background-color: #1E095A;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 100px;
}
.input-group {
    margin-top: 20px;
    color: #fff;
}

.input-box {
    border: 1px solid black;
    padding: 10px;
    border-radius: 25px;
    background-color: #21065D;
    color: #fff;
    width: 95%;
}
.logoimg{
    display: block;
    margin: 0% auto ;
    margin-bottom: 20px ;
    padding-top: 0px;
    width: 30vh;
}
.btn-group button:hover {
    cursor: pointer; 
}

.btn-group button:hover {
    opacity: 0.6; 
}


