$Blue-green: #2596be;
$Federal-blue: #1e095a;
$Royal-purple: #8147a8;
$Old-rose: #b46f77;
$Eerie-black: #222222;
$Pure-white: #ffffff;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.leaflet-popup-content-wrapper{
  background-color: $Federal-blue !important;
  
}

.editPin{
  color: $Pure-white;
 border-radius: 50px;
 background-color: $Royal-purple;

}

.showMeetup{
  color: $Pure-white;
  border-radius: 75px;
  background-color: $Royal-purple;
  
}

.deletePin{
color: $Pure-white;
border-radius: 65px;
background-color: $Royal-purple;

}

body {
  // position: relative;
  
  main {
    width: 100%;
    display: flex;
    justify-content: center;

    #map {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 0;
    }

    .button-wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
      position: fixed;
      bottom: 120px;
      
      .button {
        padding: 20px 30px;
        margin: 0 60px;
        z-index: 2;
        display: flex;
        font-family: "Poppins";
        border: none;
        border-radius: 15px;
        background-color: $Royal-purple;
        color: white;
        box-shadow: 0px 5px 10px -5px black;
      }
    }
    .leaflet-routing-container {
      box-shadow: 0px 5px 10px -5px black;
      border-radius: 20px;
      background-color: $Federal-blue;
      
      .leaflet-routing-collapse-btn {
        color: $Royal-purple;
      }

      .leaflet-routing-add-waypoint {
        width: 15%;
        height: 100%;
        border-radius: 100px;
        background-color: $Royal-purple;
        padding: 6.5px 5px;
        color: white;
      }
      .leaflet-routing-reverse-waypoints {
        width: 15%;
        height: 100%;
        border-radius: 100px;
        background-color: $Royal-purple;
        padding: 5px;
        color: white;
      }
    }
    .leaflet-routing-geocoder {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: "Poppins";
      padding-left: 10px;
      
      input {
        width: 90%;
        height: 40px;
        display: flex;
        align-items: center;
        padding: 5px 13px;
        border-radius: 15px;
        color: $Pure-white;
        background-color: $Royal-purple;
        font-size: 0.9rem;
        font-family: "Poppins";

        &::placeholder {
          color: white;
        }
      }

      .leaflet-routing-remove-waypoint {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $Eerie-black;
        transform: scale(1.5);
        margin-left: 40px;
        margin-bottom: 50px;

        &::after {
          color: $Pure-white;
          background-color: rgba(0, 0, 0, 0);
          margin: 0;
        }
      }
    }
  }
}

.leaflet-routing-alt {
  font-family: "Poppins";

  h2 {
    font-family: "Poppins";
  }

  td {
    font-family: "Poppins";
  }

  tr:hover {
    background-color: #3e2181 !important;
  }
}

.leaflet-control-zoom.leaflet-bar.leaflet-control {
  background-color: $Federal-blue;
  border-radius: 10px;
  // margin: 0;
  padding: 8px;
  box-shadow: 0px 5px 10px -5px black;

  .leaflet-control-zoom-in {
    background-color: $Royal-purple;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .leaflet-control-zoom-out {
    background-color: $Royal-purple;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.reverse-button {
  background-color: $Pure-white;
  padding: 10px;
  border-radius: 5px;
}
.reverse-button button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.title {
  font-family: "Poppins";
  color: black;
  font-weight: bold;
}

.description {
  margin-top: 5px;
}

.tags {
  margin-top: 5px;
}

.tag {
  border-radius: 10px;
  padding: 5px 10px;
  background-color: orange;
  color: $Pure-white;
  display: inline-block;
  margin-right: 5px;
}

.tag:last-child {
  margin-right: 0px;
}
.leaflet-pane {
  input {
    background-color: $Pure-white;
  }
}

.leaflet-routing-icon{
  background-image: url("../img/Icons.png") !important;
}