$Blue-green: #2596be;
$Federal-blue: #1E095A;
$Royal-purple: #8147A8;
$Old-rose: #B46F77;
$Eerie-black: #222222;
$Pure-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    min-height: 100%;

    #settings_bg {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        justify-content: space-between;
        min-height: 80%;
        background-color: $Federal-blue;

        #top_settings {
            display: flex;
            flex-direction: column;
        }

        #bottom_settings {
            
        }
    
        .setting_btn {
            color: white;
            text-decoration: none;
            background-color: $Royal-purple;
            padding: 20px 150px;
            margin: 10px;
            border-radius: 20px;
            box-shadow: 0px 5px 10px -5px black;
        }

    }
    
}