$Blue-green: #2596be;
$Federal-blue: #1E095A;
$Royal-purple: #8147A8;
$Old-rose: #B46F77;
$Eerie-black: #222222;
$Pure-white: #FFFFFF;

body{
    background-color: #6832AA;
}

nav{
    padding: 1vh;
    background-color:#21065D;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    a {
        background-color: #AAAAAA;
        border-radius: 20px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

input{
    background-color: #21065D;
}