$Blue-green: #2596be;
$Federal-blue: #1E095A;
$Royal-purple: #8147A8;
$Old-rose: #B46F77;
$Eerie-black: #222222;
$Pure-white: #FFFFFF;

.temp{
    height: 725px;
}


body{
    background-color: $Royal-purple;
    background: linear-gradient(to right, #1E095A 0%);
    background-color: $Royal-purple;

}

#login_button {
    font-family: "Poppins";
    width: 2;
    height:30px;
   display: flex;
   padding: 5px 13px;
   border-radius: 15pt;
   background-color:$Royal-purple;
}

#sign_in_button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border-radius: 15pt;
    background-color: #21065D;
    position: absolute;
    left: 180px;
    top: 100px;







}
#login_button_2{
    font-family: "Poppins";
    width: 150px;
    height:30px;
    display: flex;
    padding: 5px 13px;
    border-radius: 15pt;
    background-color: #21065D;
    align-self: center;

}
.login_form{
    display: flex;
    justify-content: space-around;
}

#password{

    font-family: "Poppins";
    width: 150px;
    height:30px;
    display: flex;
    padding: 5px 13px;
    border-radius: 15pt;
    background-color: #21065D;


}

#username{

    font-family: "Poppins";
    width: 20vw;
    height:4vh;
    display: flex;
    padding: 5px 13px;
    border-radius: 15pt;
    background-color: #21065D;

nav{
    padding: 1vh;
    background-color: $Federal-blue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;

    a {
        background-color: $Royal-purple;
        border-radius: 20px;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
       
        &:hover {
            background-color: rgb(144, 90, 180);
        }
    }
}
}
input{
    background-color: $Federal-blue;
}