$Blue-green: #2596be;
$Federal-blue: #1E095A;
$Royal-purple: #8147A8;
$Old-rose: #B46F77;
$Eerie-black: #222222;
$Pure-white: #FFFFFF;

body{
    background: linear-gradient(to right, $Royal-purple 0%);
    background-color: $Royal-purple;

}

*{
    margin: 0;
    padding: 0;
  }
  
  body {
  background-color: #6832AA ;
  }
  
  
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #6832AA  ;
}

.container {
    text-align: center;
}

.btn {
    background-color: #1E095A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.input-group {
    margin: 10px 0;
}

.input-box {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.remember-me {
    margin-top: 10px;
}
    
#logo_con {
    display: flex;
    justify-content: center;
    width: 100%;

    .logoimg{

    }
}
