$Blue-green: #2596be;
$Federal-blue: #1E095A;
$Royal-purple: #8147A8;
$Old-rose: #B46F77;
$Eerie-black: #222222;
$Pure-white: #FFFFFF;

$Shadow: 0px 5px 10px -5px black;

h2 {
  font-size: 20px;
}

#tags_bio{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

  #logo{
    width:250px;
  }

  .profile_info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    margin-bottom: 1vh;

    #profile_username{
      text-align: left;
      width: 50%;
    }

    p{
      font-size: 16px;

      b {
        font-size: 20px;
      }
    }
  }

  #biography_edit{
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
      width: 100%;

      #biography{
        border-radius: 20px;
        padding: 10px 15px;
        height: 12vh;
        box-sizing: border-box; 
        resize: none; 
        background-color: $Federal-blue;
        color: $Pure-white;
        border: 0px;
        margin-bottom: 1vh;
        box-shadow: $Shadow;
        font-size: 16px;
      }
      input[type=submit] {
        margin-bottom: 2vh;
        background-color: $Royal-purple;
        border: none;
        border-radius: 10px;
        color: white;
        box-shadow: $Shadow;
        font-size: 16px;
      }
    }
  }

  #favorite_tags{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tags{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 10px 14px;
      height: 12vh;
      background-color: $Federal-blue;
      border-radius: 20px;
      margin-bottom: 1vh;
      box-shadow: $Shadow;

      .tag_from_btn{
        padding: 2px 5px;
        color: $Pure-white;
        border-radius: 10px;
        border: 0px;
        font-size: 16px;
      }
    }

    #tag {
      margin-bottom: 2vh;
      background-color: $Federal-blue;
      padding: 2px 5px;
      border: none;
      border-radius: 10px;
      color: white;
      box-shadow: $Shadow;
      font-size: 16px;

      &::placeholder {
        color: white;
      }
    }

    #addTagBtn {
      background-color: $Royal-purple;
      padding: 2px 5px;
      border: none;
      border-radius: 10px;
      color: white;
      box-shadow: $Shadow;
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 470px) {
  #biography, .tags {
    width: 97%;
  }

  #pfp {
    width: 30vw;
  }
}

@media screen and (min-width: 470px) {
  #biography, .tags {
      width: 470px;
  }

  #pfp {
    width: 9vw;
  }
}