<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>

    {% load static %} {% load compress %} {% compress css %}
    <link
      rel="stylesheet"
      href="{%static 'scss/create-event-styles.scss' %}"
      type="text/x-scss"
    />
    <link
      rel="stylesheet"
      href="{%static 'scss/style.scss' %}"
      type="text/x-scss"
    />

    {% endcompress %}
  </head>
  <body>
    <main>
      <div class="title">
        <h1>Create Event</h1>
      </div>
      <section class="center">
        <form method="post">
          {% csrf_token %} {{ form.as_p }}
          <button type="submit">Create</button>
        </form>
      </section>
      <footer>
        <nav>
          <a href="{% url 'map' %}"><img src="{% static 'img/Map.png' %}" /></a>
          <a href="{% url 'pins' %}"
            ><img src="{% static 'img/Pins.png' %}"
          /></a>
          <a href=""><img src="{% static 'img/MeetUp.png' %}" /></a>
          <a href=""><img src="{% static 'img/Profile_img.png' %}" /></a>
          <a href=""><img src="{% static 'img/Settings.png' %}" /></a>
        </nav>
      </footer>

      <script>
        if (window.location.search) {
          window.onload = function () {
            // Get the latitude and longitude from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const lat = urlParams.get("lat");
            const lng = urlParams.get("lng");
            const title = urlParams.get("title");
            const pinId = urlParams.get("pin_id");

            // Define the API endpoint
            const geocodingApi = `https://nominatim.openstreetmap.org/reverse?format=json&lat=${lat}&lon=${lng}`;

            // Fetch the location name
            fetch(geocodingApi)
              .then((response) => response.json())
              .then((data) => {
                if (data.address) {
                  // Set the location input value to the location name
                  document.getElementById("id_location").value =
                    data.display_name;
                }
              })
              .catch((error) => console.error(error));

            // Set the event name input value to the title
            if (title) {
              document.getElementById("id_name_meetup").value =
                "Event: " + decodeURIComponent(title);
            }
            if (pinId) {
              // Define the API endpoint
              const apiEndpoint = `/api/pin/${pinId}/`;

              // Fetch the Pins object
              fetch(apiEndpoint)
                .then((response) => {
                  if (!response.ok) {
                    throw new Error("Network response was not ok");
                  }
                  return response.json();
                })
                .then((data) => {
                  // Assuming your form has a hidden input for the pin field
                  // and a text input to display the pin title
                  document.getElementById("id_pin").value = data.id;
                  document.getElementById("pin_title").value = data.title;
                })
                .catch((error) =>
                  console.error(
                    "There has been a problem with your fetch operation:",
                    error
                  )
                );
            }
          };
        }

        // Get the current date and time
        var currentDate = new Date();
        var currentDateTime = currentDate.toISOString().slice(0, 16); // Remove seconds and milliseconds
        // Set the minimum value for the input field
        document.getElementById("dateandtime1").min = currentDateTime;
        document.getElementById("dateandtime2").min = currentDateTime;

        // Image Upload
        let inputFile = document.getElementById("input-file");
        let imagePreviewContainer = document.getElementById(
          "image-preview-container"
        );

        document.addEventListener("DOMContentLoaded", function () {
          var inputFile = document.getElementById("your-input-file-id"); // replace "your-input-file-id" with the actual id of your input file element
          var imagePreviewContainer =
            document.getElementById("your-container-id"); // replace "your-container-id" with the actual id of your container element

          inputFile.addEventListener("change", function () {
            imagePreviewContainer.innerHTML = ""; // Clear previous previews
            const files = inputFile.files;
            const maxFiles = 6; // Maximum number of files allowed
            for (let i = 0; i < Math.min(files.length, maxFiles); i++) {
              const file = files[i];
              const img = document.createElement("img");
              img.src = URL.createObjectURL(file);
              img.height = 100; // Adjust image height as needed
              img.width = 100; // Adjust image width as needed
              imagePreviewContainer.appendChild(img);
            }
          });
        });
      </script>
    </main>
  </body>
</html>
