{% extends "baseMeetup.html" %} {% block title %}MeetUpProfile - Social
Sphere{%endblock %} {% block content %} {% load static %} {% load compress%}
{%compress css %}
<link
  rel="stylesheet"
  href="{%static 'scss/my_meetup.scss' %}"
  type="text/x-scss"
/>
{% endcompress %}
<section>
  <br />
  <h1>Public Meetups</h1>
  <ul>
    {% for meetup in meetups %}

    <li>
      <strong>{{ meetup.title }}</strong><br />
      <span>Start Time: {{ meetup.start_timestamp }}</span><br />
      <span>End Time: {{ meetup.start_timestamp }}</span><br />
    </li>
    {% empty %}
    <li>No meetups available.</li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
