{% extends "baseMeetup.html" %} {% block title %}MeetUpProfile - Social
Sphere{%endblock %} {% block content %} {% load static %} {% load compress%}
{%compress css %}
<link
  rel="stylesheet"
  href="{%static 'scss/my_meetup.scss' %}"
  type="text/x-scss"
/>
{% endcompress %}
<section>
  <br />
  <h1>Public Meetups</h1>
  <ul>
    {% for meetup in meetups %}
    <li>
    <h3>{{ meetup.name_meetup }}</h3>
        <p>Location: {{ meetup.location }}</p>
        <p>Start Time: {{ meetup.time_start }}</p>
        <p>End Time: {{ meetup.time_end }}</p>
        <p>Description: {{ meetup.description }}</p>
    </li>
    {% empty %}
    <li>No meetups available.</li>
    {% endfor %}
  </ul>
</section>

{% endblock %}
