<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    {% load static %} {% load compress %} {% compress css %}
    <link rel="stylesheet" href="{%static 'scss/create-event-styles.scss' %}"
    type="text/x-scss"/>  
    {% endcompress %}
  </head>
<body>
  <main>
  
    <center><br>
        <h1> Public Meetups</h1>
        <ul>
            {% for meetup in meetups %}
            
            <li>
              <h3>{{ meetup.name_meetup }}</h3>
              <p>Location: {{ meetup.location }}</p>
              <p>Start Time: {{ meetup.time_start }}</p>
              <p>End Time: {{ meetup.time_end }}</p>
              <p>Description: {{ meetup.description }}</p>
              <p>Pin id: {{ meetup.pin_id }}</p>
            </li>
            {% empty %}
                <li>No meetups available.</li>
            {% endfor %}
        </ul> 

   
    </center>



      <script>
        
    </script>
  </main>
</body>
</html>