<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    {% load static %} {% load compress %} {% compress css %}
    <link rel="stylesheet" href="{%static 'scss/create-event-styles.scss' %}"
    type="text/x-scss"/>  
    {% endcompress %}
  </head>
<body>
  <main>
    <div class="title">
      <h1>
        Editing my Meetup
      </h1>
    </div>
    <center>
      
      <br>
        <form action="{% url 'edit_meetup_details' %}" method="POST">
            {% csrf_token %}
            <div class="create-event-container">
              <div class="event-details"> 
                <input class="eventname" type="text" id="eventname" name="name_meetup"  value="{{ meetup.title }}" required maxlength="40">
              </div><br>
              <div class="event-details"><!-- probaly should be replaced with map thing-->
                <input class="location" type="text" id="location" name="location" placeholder="Event Location" required maxlength="50">    
              </div><br>
               <div class="event-details">
                <label for="visibility">Meetup visibility:</label>
                <select id="visibility" name="visibility" required>
                  <option value="private" {% if meetup.visibility == 'private' %} selected {% endif %}>private</option>
                  <option value="protected" {% if meetup.visibility == 'protected' %} selected {% endif %}>protected</option>
                  <option value="Public" {% if meetup.visibility == 'Public' %} selected {% endif %}>Public</option>
                </select> 
            </div><br>
              <div> <h3>Start time</h3>
                <input class="dateandtime" type="datetime-local" id="dateandtime1" name="time_start"  value="{{ meetup.start_timestamp }}" required>
              </div><br>
              
              <div><h3>Closing time</h3>
                <input class="dateandtime" type="datetime-local" id="dateandtime2" name="time_end" value="{{ meetup.end_timestamp }}" required>
              </div><br>
              <div class="event-details">
                <textarea class="description" type="text" id="description" name="description" value="{{ meetup.description }}" required maxlength="500"></textarea>
              </div><br>                                
              <div>
                <input type="submit" value="Submit" class="save-button" id="button">
            </div>
          </form>

   
    </center>



    <script>
        
      //let fetchedPins = await (await fetch("/getPins")).json();
      // Get the current date and time
      let currentDate = new Date();
      let currentDateTime = currentDate.toISOString().slice(0,16); // Remove seconds and milliseconds

      // Set the minimum value for the input field
      document.getElementById('dateandtime1').min = currentDateTime;
      document.getElementById('dateandtime2').min = currentDateTime;

        // Image Upload
        let inputFile = document.getElementById("input-file");
        let imagePreviewContainer = document.getElementById("image-preview-container");

        inputFile.addEventListener("change", function() {
          imagePreviewContainer.innerHTML = ""; // Clear previous previews
          const files = inputFile.files;
          const maxFiles = 6; // Maximum number of files allowed
            for (let i = 0; i < Math.min(files.length, maxFiles); i++) {
              const file = files[i];
              const img = document.createElement("img");
              img.src = URL.createObjectURL(file);
              img.height = 100; // Adjust image height as needed
              img.width = 100; // Adjust image width as needed
              imagePreviewContainer.appendChild(img);
            }
          });
    </script>
  </main>
</body>
</html>