<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    
    {% load static %} {% load compress %} {% compress css %}
    <link rel="stylesheet" href="{%static 'scss/create-event-styles.scss' %}"
    type="text/x-scss"/>
    
    
  
    {% endcompress %}
  </head>
  {% comment %} ================= Page Content =================  {% endcomment %}
<body>
  <main>
  
    <center><br>
        <h1> My Meetups</h1>
        <ul>
            {% for meetup in meetups %}
            <form action="{% url 'edit_meetup' %}" method="POST">
              {% csrf_token %}
                <li>
                  <strong>{{ meetup.title }}</strong><br>
                  <span>Start Time: {{ meetup.start_timestamp }}</span><br>
                  <span>End Time: {{ meetup.end_timestamp }}</span><br>
                </li>
                <input type="hidden" name="meetup_id" value="{{ meetup.id}}" default:"{{ meetup.id}}">
                <input type="submit" value="edit" class="save-button" id="button">
              </form>
            {% empty %}
                <li>No meetups available.</li>
            {% endfor %}
        </ul> 

   
    </center>



      <script>
        
    </script>
  </main>
</body>
</html>