<!DOCTYPE html>
<html lang="en">
<head>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Youth Spots
        {% endblock %}
    </title>
    {% load static %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{%static 'scss/style.scss' %}" type="text/x-scss">
    {% endcompress %}
    <script src="https://kit.fontawesome.com/9ce9532b81.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
    </header>
    <main>{% block content %} {% endblock %}</main>
</body>
</html>