{% extends "base.html" %}
{% block title%}Change Password - Social Sphere{% endblock %}
{% block content %}
    {% if user.is_authenticated %}

    
        <form method="post">
            {% csrf_token %}

   
    <section id="password_bg">
        <div class="container">
            <img src="../static/img/logo.png" class="logoimg" alt="Logo">
        </div>
        <section id= "top">
            <input type="password" name="old_password" id="password" placeholder="Current Password">
            <input type="password" name="new_password" id="password" placeholder="New Password">
            <input type="password" name="new_password_confirm" id="password" placeholder="Confirm New Password">
        </section>   
            <button type="submit" id="button2">Change password</button>
            </form>
    </section>
    
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}