{% extends "base.html" %}
{% block title%}Change Password - Social Sphere{% endblock %}

{% block content %}
    {% load static %}
    {% load compress %}
    {% compress css %}
        <link rel="stylesheet" href="{%static 'scss/change_password.scss' %}" type="text/x-scss">
    {% endcompress %}

    {% if user.is_authenticated %}
    <img src="../static/img/logo.png" id="logo" alt="Logo">
    <h1>Change Password</h1>
    <form method="post">
        {% csrf_token %}
        <input type="password" name="old_password" id="password" placeholder="Current Password">
        <input type="password" name="new_password" id="password" placeholder="New Password">
        <input type="password" name="new_password_confirm" id="password" placeholder="Confirm New Password">
        <input type="submit" value="Change Password">
    </form>
        {% for error in errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}
{% endblock %}