{% extends "base.html" %}
{% block title %}Social Sphere - Event Recommendations{% endblock %}
{% block content %}
    {% load static %}    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load compress %}
    {% compress.css %}
    {% endcompress %}
    <form method="POST">
        <label for="name">Name of event:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="age">Location of event:</label>
        <input type="number" id="age" name="age" required><br><br>
        <label for="interests">Date and Time:</label>
        <input type="text" id="date" name="date" required><br><br>
        <label for="interests">Date and Time:</label>
        <input type="text" id="date" name="date" required><br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}