{% extends "base.html" %} 

{% block title %}{% endblock %}

{% block javascript %}
<script defer>
    function SaveInfo() {
        var infoSave = {
            username: /*username*/,
            password: /*password*/
        };
        localStorage.setItem("savedInfo", JSON.stringify(savedInfo));
    }

    function loadInfo() {
        var savedInfo = JSON.parse(localStorage.getItem("savedInfo"));

        if (localStorage.getItem("savedInfo") !== null) {
            if (typeof savedInfo.username !== "undefined") username = savedInfo.username;
            if (typeof savedInfo.password !== "undefined") password = savedInfo.password;
        }
    }

    function resetInfo() {
        var infoSave = {};
        localStorage.setItem("savedInfo", JSON.stringify(infoSave));
        location.reload();
    }
</script>
{% endblock %}


{% block content %}
<div id="logo_con">
    <img src="../static/img/logo.png" class="logoimg">

<div class="container">
    <div class="btn-group">
        <a href="/login"><button class="login_button">Login</button></a>
        <a href="/signup"><button class="signup_button">Sign Up</button></a>
    </div>
    <div class="input-group">
        <input type="text" class="input-box" placeholder="Email">
    </div>
    <div class="input-group">
        <input type="password" class="input-box" placeholder="Password">
    </div>
    <div class="input-group remember-me">
        <input type="checkbox"> Remember me
    </div>
    <div class="input-group">
        <button class="btn">Login</button>
    </div>
</div>
</div>

{% endblock %}