{% extends "base.html" %} {% block content %}
<div id="map" style="height: 70vh; width: 70vw; margin: auto auto"></div>
<button id="addMarker" class="button">Add Marker</button>
<button id="toggleUnit" class="button">Switch to Miles</button>
<button id="saveMarker" class="button">Save the marker</button>


{{ pins|json_script:"pins_json" }}

<script>
  async function run(latitude, longitude) {
    var userLocation = L.latLng(latitude, longitude);

    // Create Map 
    var map = L.map("map", { attributionControl: false });
    L.tileLayer("https://tile.openstreetmap.org/{z}/{x}/{y}.png", {
      maxzoom: 19,
    }).addTo(map);
    map.setView(userLocation, 13);

    // Create routing control
    var control = L.Routing.control({
    waypoints: [userLocation],
    routeWhileDragging: false,
    geocoder: L.Control.Geocoder.nominatim(),
    }).addTo(map);

    // Pins
    var pins = {}

    async function updatePins() {
      var fetchedPins = await (await fetch('/getPins')).json()

      fetchedPins.forEach((pin) => {
        if(pins[pin.id]) {
          /*
            UPDATE
          */
          var marker = pins[pin.id].marker
          pins[pin.id].info = pin

          var pinString = `<div class="title">${pin.title}</div>`
          pinString += `<div class="description">${pin.description}</div>`
          pinString += `<div class="tags">`
          var tags = pin.tags.split(', ')
          tags.forEach((tag) => {
            pinString += `<div class="tag">${tag}</div>`
          })
          pinString += `</div>`

          marker.getPopup().setContent(pinString)
          marker.getPopup().update()
        } else {
          /*
            CREATE
          */
          pins[pin.id] = {
            marker: L.marker([pin.latitude, pin.longitude]),
            info: pin
          }
          var marker = pins[pin.id].marker

          var popupString = `<div class="title">${pin.title}</div>`
          popupString += `<div class="description">${pin.description}</div>`
          popupString += `<div class="tags">`
          var tags = pin.tags.split(', ')
          tags.forEach((tag) => {
            popupString += `<div class="tag">${tag}</div>`
          })
          popupString += `</div>`

          marker.bindPopup(popupString);
          marker.addTo(map);
        }
      })

      console.log('Updated Pins', pins)
    }

    // AddMarker
    var marker = false;

    document
    .getElementById("addMarker")
    .addEventListener("click", function () {
      addMarker = true;
    });

    map.on("click", function (e) {
      if (addMarker) {
        // Remove the previous marker if it exists
        if (marker) {
          map.removeLayer(marker);
        }

        // Add a new marker
        marker = L.marker(e.latlng).addTo(map);

        // Add a new waypoint to the routing control
        control.setWaypoints([
          control.getWaypoints()[0], // keep the user's location as the first waypoint
          e.latlng, // add the clicked location as the second waypoint
        ]);

        addMarker = false;
      }
    });

    updatePins()
    setInterval(async () => {
      updatePins()
    }, 5000)
  }

  // Start
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      run(position.coords.latitude, position.coords.longitude)
    })
  } else {
    run(50.376289, -4.143841)
  }
</script>
{% endblock %}
