{% extends "base.html" %} {% block title%}Pins - Social Sphere{% endblock %}
{%block content %}

{% load static %}
{% load compress %}
{% compress css %}
    <link rel="stylesheet" href="{%static 'scss/pins.scss' %}" type="text/x-scss">
{% endcompress %}

<img src="../static/img/logo.png" id="logo">
<h1>Pins</h1>
<div id="pinList">

  <template id="pinTemplate">
    <button class="pin">
      <div class="info">
        <div class="title"></div>
        <div class="description"></div>
        <div class="distance"></div>
      </div>
    </button>
  </template>
</div>


<script>
  async function run(latitude, longitude) {
    let userLocation = L.latLng(latitude, longitude);

    let fetchedPins = await (await fetch("/getPins")).json();

    fetchedPins.forEach((pin) => {
      let clone = document
        .getElementById("pinTemplate")
        .content.cloneNode(true);
      clone.querySelector(".title").innerHTML = pin.title;
      clone.querySelector(".description").innerHTML = pin.description;
      clone.querySelector(".distance").innerHTML =
        userLocation
          .distanceTo(L.latLng(pin.latitude, pin.longitude))
          .toFixed(0) / 1000 + " KM";
      let button = clone.querySelector(".pin");
      button.id = "pin-" + pin.id;
      button.addEventListener("click", function () {
        window.location.href = `/?pinSelected=${pin.id}`;
      });
      document.getElementById("pinList").appendChild(clone);
    });
  }

  // Start
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function (position) {
      run(position.coords.latitude, position.coords.longitude);
    });
  } else {
    run(50.376289, -4.143841);
  }
</script>
{% endblock %}
