{% extends "base.html" %}
{% block signup %}
    <a class="nav_buttons" href="/login">login<a/>
    <a class="nav_buttons" href="/signup">signup<a/>
<form method="post">
    {% csrf_token %}
    <input type="text" name="username" id="username" placeholder="Username">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password">
 
    <button type="submit">Sign up</button>
</form>
{% for error in errors %}
    <p class="error">{{ error }}</p>
{% endfor %}
{% endblock %}