{% extends "base.html" %}

{% block title%}Register - Social Sphere{% endblock %}

{% block content %}
<div id="logo_con">
    <img src="../static/img/logo.png" class="logoimg">
</div>
   <div class ="display_buttons">
    <a class="nav_login_button" href="/login">Login</a>
    <a class="nav_signup_button" href="/signup">Sign up</a>
    </div>
        <form method="post">
        {% csrf_token %}
        <div class= "button_container">
            <div class= "input_box_signup">
            <input type="text" name="username" id="username" placeholder="Username" class="box_text">
            </div>

            <div class= "input_box_signup">
            <input type="email" name="email" id="email" placeholder="Email" class="box_text">
            </div>

            <div class= "input_box_signup">
            <input type="password" name="password" id="password" placeholder="Password" class="box_text">
            </div>

            <div class= "input_box_signup">
            <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password" class="box_text">
            </div>
        </div>
        <div id="age_checkbox">
            <p>I am 18 years or older</p>
            <input type="checkbox" name="age" id="age" value="age">
        </div>
        <button type="submit" class ="signup_enter">Sign up</button>
    </form>


    {% for error in errors %}
        <p class="error">{{ error }}</p>
    {% endfor %}
{% endblock %}