/* line 1, YouthSpotsBrain/static/scss/edit_profile.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, YouthSpotsBrain/static/scss/edit_profile.scss */
body {
  background-color: #6832AA; }

/* line 10, YouthSpotsBrain/static/scss/edit_profile.scss */
.alter-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px; }

/* line 18, YouthSpotsBrain/static/scss/edit_profile.scss */
.profile_logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px; }

/* line 24, YouthSpotsBrain/static/scss/edit_profile.scss */
.section {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

/* line 32, YouthSpotsBrain/static/scss/edit_profile.scss */
.section-title {
  margin-bottom: 10px;
  font-size: 20px; }

/* line 37, YouthSpotsBrain/static/scss/edit_profile.scss */
.edit_textbox {
  border: 1px solid black;
  padding: 10px;
  border-radius: 25px;
  background-color: #21065D; }

/* line 44, YouthSpotsBrain/static/scss/edit_profile.scss */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1vh;
  background-color: #21065D;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  /* line 56, YouthSpotsBrain/static/scss/edit_profile.scss */
  nav a {
    background-color: #AAAAAA;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
