/* line 1, YouthSpotsBrain/static/scss/edit_profile.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, YouthSpotsBrain/static/scss/edit_profile.scss */
body {
  background-color: #6832AA; }

/* line 11, YouthSpotsBrain/static/scss/edit_profile.scss */
.pr.profile_logo {
  display: flex;
  align-items: center; }
