/* line 8, YouthSpotsBrain/static/scss/map.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 14, YouthSpotsBrain/static/scss/map.scss */
body {
  position: relative; }
  /* line 16, YouthSpotsBrain/static/scss/map.scss */
  body main {
    background-color: #8147a8; }
    /* line 20, YouthSpotsBrain/static/scss/map.scss */
    body main .button {
      font-family: "Poppins";
      width: 2;
      height: 30px;
      padding: 5px 13px;
      border-radius: 15pt;
      background-color: #2596be; }
    /* line 31, YouthSpotsBrain/static/scss/map.scss */
    body main .leaflet-routing-geocoder input {
      width: 100%;
      height: 30px;
      display: flex;
      padding: 5px 13px;
      border-radius: 15pt;
      background-color: white; }
