/* line 8, YouthSpotsBrain/static/scss/map.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 14, YouthSpotsBrain/static/scss/map.scss */
#map {
  width: 500px;
  margin-top: 500px; }

/* line 18, YouthSpotsBrain/static/scss/map.scss */
body {
  position: relative; }
  /* line 20, YouthSpotsBrain/static/scss/map.scss */
  body main {
    background-color: #8147a8; }
    /* line 24, YouthSpotsBrain/static/scss/map.scss */
    body main .button {
      z-index: 1000;
      font-family: "Poppins";
      width: 2;
      height: 30px;
      display: flex;
      padding: 5px 13px;
      border-radius: 15pt;
      background-color: #2596be; }
