/* line 8, YouthSpotsBrain/static/scss/style.scss */
.temp {
  height: 420px;
  width: 420px;
  background-color: #1E095A;
  padding: 20px;
  border-radius: 50px;
  margin: 10px; }

/* line 18, YouthSpotsBrain/static/scss/style.scss */
body {
  background-color: #8147A8; }

/* line 22, YouthSpotsBrain/static/scss/style.scss */
nav {
  padding: 1vh;
  background-color: #1E095A;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto; }
  /* line 32, YouthSpotsBrain/static/scss/style.scss */
  nav a {
    background-color: #8147A8;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; }
    /* line 41, YouthSpotsBrain/static/scss/style.scss */
    nav a:hover {
      background-color: #905ab4; }

/* line 47, YouthSpotsBrain/static/scss/style.scss */
input {
  background-color: #1E095A; }
