/* line 8, YouthSpotsBrain/static/scss/style.scss */
* {
  font-family: 'Poppins';
  font-size: 12px;
  margin: 0;
  padding: 0; }

/* line 15, YouthSpotsBrain/static/scss/style.scss */
body {
  background-color: #8147A8;
  color: #FFFFFF; }

/* line 20, YouthSpotsBrain/static/scss/style.scss */
footer {
  display: flex;
  width: 100%;
  justify-content: center; }
  /* line 25, YouthSpotsBrain/static/scss/style.scss */
  footer nav {
    padding: 1vh 1vw;
    background-color: #1E095A;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px; }
    /* line 36, YouthSpotsBrain/static/scss/style.scss */
    footer nav a {
      background-color: #8147A8;
      border-radius: 20px;
      width: 60px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center; }
      /* line 45, YouthSpotsBrain/static/scss/style.scss */
      footer nav a:hover {
        background-color: #905ab4; }
      /* line 49, YouthSpotsBrain/static/scss/style.scss */
      footer nav a img {
        width: 50px; }

@media screen and (max-width: 470px) {
  /* line 57, YouthSpotsBrain/static/scss/style.scss */
  nav {
    width: 97%; } }

@media screen and (min-width: 470px) {
  /* line 63, YouthSpotsBrain/static/scss/style.scss */
  nav {
    width: 470px; } }
