/* line 8, YouthSpotsBrain/static/scss/style.scss */
body {
  background: linear-gradient(to right, #1E095A 0%);
  background-color: #6832AA; }

/* line 13, YouthSpotsBrain/static/scss/style.scss */
nav {
  padding: 1vh;
  background-color: #21065D;
  border-radius: 20px;
  display: flex;
  flex-direction: row; }
  /* line 20, YouthSpotsBrain/static/scss/style.scss */
  nav a {
    background-color: #AAAAAA;
    border-radius: 20px;
    width: 60px;
    height: 60px;
    justify-content: center; }

/* line 29, YouthSpotsBrain/static/scss/style.scss */
input {
  background-color: #21065D; }
