/* line 8, YouthSpotsBrain/static/scss/style.scss */
body {
  background: linear-gradient(to right, #1E095A 0%);
  background-color: #1E095A; }

/* line 13, YouthSpotsBrain/static/scss/style.scss */
.footer-button {
  color: white;
  text-decoration: none; }

/* line 18, YouthSpotsBrain/static/scss/style.scss */
footer {
  color: #FFFFFF; }
